{% extends 'base.html' %}
    {% block banner %}
          <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="col-lg-8"><h1>Genome Center Registration Engine</h1>
        <p>Different organizers will be able to run there own registration here.<p>
        <p><a href="#" class="btn btn-warning btn-lg" role="button">Learn more &raquo;</a></p></div>
        </div>
    </div>
    {% endblock %}

