{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Genome Center Event Registration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	{% compress css %}
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/theme/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/vendor/ng-table/ng-table.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/theme/css/caes.css" rel="stylesheet">
    <link href="/static/theme/css/animations.css" rel="stylesheet">
	<link href="/static/ezreg/css/style.css" rel="stylesheet">
	<link href="/static/vendor/angular-growl/angular-growl.min.css" rel="stylesheet">
	{% endcompress %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->
    <script>
    var CSRF_TOKEN = '{{ csrf_token|escapejs }}';
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% compress js %}
    <script src="/static/vendor/jquery.min.js"></script>
    <script src="/static/theme/js/bootstrap.min.js"></script>
    {% endcompress %}
    {{ form.media }}
    {% compress js %}
    {% block scripts %}

    
        <!-- Angular
    ================================================== -->
	<script src="/static/vendor/angular/angular.js"></script>
	<script src="/static/vendor/angular/angular-resource.min.js"></script>
	<script src="/static/vendor/angular-cookies/angular-cookies.js"></script>
	<!-- <script src="/static/vendor/angular-bootstrap/ui-bootstrap.js"></script> -->
	<script src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/static/vendor/angular-ui-router/angular-ui-router.js"></script>
	<script src="/static/ezreg/js/resources/models.js"></script>
	<script src="/static/ezreg/js/services/DRFNgTable.js"></script>
    <script src="/static/vendor/angular-growl/angular-growl.min.js"></script>
    <script src="/static/vendor/angular-tinymce/tinymce.js"></script>
    <script src="/static/vendor/bootstrap-multiselect/multiselect.js"></script>
    <script src="/static/vendor/ng-table/ng-table.js"></script>
    <script src="/static/ezreg/js/directives/logs.js"></script>
    <!--<script src="{% static 'vendor/angular-remote-table/angular-remote-table.js'%}"></script>-->
        
    <script src="/static/vendor/django_js_utils.js"></script>
        
    <script>
	    var ezreg = angular.module('ezreg', ['ui.bootstrap', 'ui.router', 'ngCookies', 'ngResource', 'ezregModels','angular-growl','DRFNgTable','django-logger']);
	    ezreg.config(['$httpProvider', function($httpProvider) {
		    $httpProvider.defaults.headers.common['X-CSRFToken'] = CSRF_TOKEN;
		}])
	    .config(function($interpolateProvider) {
		  $interpolateProvider.startSymbol('{[');
		  $interpolateProvider.endSymbol(']}');
		})
	    .config(['$resourceProvider', function($resourceProvider) {
		  // Don't strip trailing slashes from calculated URLs
		  $resourceProvider.defaults.stripTrailingSlashes = false;
		}])
		.run(function($rootScope) {
			$rootScope.getURL = function(name,params){
				return django_js_utils.urls.resolve(name, params);
			}
	    });
    </script>
    {% endblock %}
    {% endcompress %}
    <script src="/static/ezreg/js/urls.js"></script>
    {% block headend %}
    {% endblock %}
  </head>

  <body role="document" ng-app="ezreg">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        {% if event.logo %}
        	<img class="pull-right" src="{{event.logo.url}}" style="max-height:100px" >
        {% elif registration.event.logo %}
        	<img class="pull-right" src="{{registration.event.logo.url}}" style="max-height:100px" >
        {%else%}
        	<a href="http://genomecenter.ucdavis.edu/" target="_blank"><img class="pull-right" style="max-height:100px" src="/static/theme/media/default-logo.png"></a>
        {%endif%}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if not event and not registration or event and not event.hide_header or registration and not registration.event.hide_header %}<a class="navbar-brand" href="{% url 'home' %}">{{HEADER_TEXT}}</a>{% endif %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {%if user.is_authenticated%}
            <li><a href="{% url 'manage_events' %}">Events</a></li>
            <li><a href="{% url 'registration_search' %}">Registrations</a></li>
            {% if request.user.is_staff %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if OrganizerUserPermission.PERMISSION_MANAGE_PROCESSORS in all_user_permissions %}
                <li><a href="{% url 'payment_processors' %}">Manage Payment Processors</a></li>
                {% endif %}
                <li><a href="{% url 'pending_refunds' %}">Pending Refunds</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </div>
    {% block banner %}
    {% endblock %}
{% if MESSAGES|length > 0 %}
	<div style="padding: 5px;">
	{% for message in MESSAGES %}
		<div class="alert alert-warning" role="alert">{{message}}</div>
	{% endfor %}
	</div>
{% endif %}
	<div class="container theme-showcase" role="main">
  <div growl></div>
	{% block content %}
	{% endblock %}
	</div>
  <div class="footer">
  	Developed by the <a href="http://bioinformatics.ucdavis.edu">UC Davis Bioinformatics Core</a>.  Please report any issues <a href="https://github.com/amschaal/django-ezreg">on Github</a>.
  	{% if not user.is_authenticated %}
    <a class="pull-right" href="{% url 'login' %}">Log in</a>
    {% endif %}
  </div>
  </body>
</html>
