{% extends 'base.html' %}
    {% block banner %}
          <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="col-lg-8"><h1>Event Registration</h1>
        <p>Please use this site to browse and register for events organised by the <a href="http://genomecenter.ucdavis.edu/">UC Davis Genome Center</a> and affiliated partners.<p>
        <p><a href="#" class="btn btn-warning btn-lg" role="button">Learn more &raquo;</a></p></div>
        </div>
    </div>
    {% endblock %}

