table.borderless td, 
table.borderless thead th, 
table.borderless tbody tr td,
table.borderless tbody tr th
{
    border: none;
}
.event-page{
	margin-top: 20px;
}

html {
  position: relative;
  min-height: 99%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  padding: 20px;
}
.status.open, .status.apply{
	font-weight: bold;
	color: green;
}
.status.closed, .status.full{
	font-weight: bold;
	color: red;
}
.status.waitlisted{
	font-weight: bold;
	color: orange;
}
