[submodule "ezreg/static/vendor/angular-remote-table"]
	path = ezreg/static/vendor/angular-remote-table
	url = git@github.com:amschaal/angular-remote-table.git
[submodule "django_json_forms"]
	path = django_json_forms
	url = git@bitbucket.org:amschaal/django_json_forms.git
	branch = layout-forms
