django>2.0,<3.0
six
Pillow
PyYAML==5.4
bleach
django-bleach
django-cas-client==1.4.0
django-compressor==2.2
django-crispy-forms
django-datetime-widget==0.9.3
django-filter
django-formtools==2.1
django-guardian
django-mail-queue==3.1.4
django-sendfile==0.3.9
django-tinymce
djangorestframework
icalendar==3.9.1
jdcal==1.4
jsonfield==1.0.3
psycopg2
tablib
