{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block 'headend' %}

<script src="/static/ezreg/js/pages/event.js"></script>
<style>
.datepicker{
	max-width:200px;
}
</style>
{% endblock %}
    
{% block content %}
{% if event %}
<a href="{% url 'event' slug_or_id=event.slug_or_id%}" class="btn btn-primary">View</a>
<a href="{% url 'registrations' slug_or_id=event.slug_or_id%}" class="btn btn-primary">Registrations</a>
{% endif %}
<div class="page-header"><h1>{% if event %}Modify{% else %}Create{% endif %} Event</h1></div>
<tabset>
<tab heading="Event">

<form method="POST" action=".">
{% csrf_token %}
{{form|crispy}}
<button class="btn btn-primary">Submit</button>
</form>
</tab>
{% if event %}
<tab heading="Payment">
<div ng-controller="PriceController" ng-init="init({'event_id':'{{event.id}}','group':'{{event.group_id}}','event_processors_url':'{% url 'event_payment_processors' event_id=event.id %}'})">
	<h3>Prices</h3>
	<table class="table" ng-if="prices.length > 0">
		<tr><th>Name</th><th>Amount</th><th>Description</th><th>Start Date</th><th>End Date</th><th></th></tr>
		<tr ng-repeat="price in prices">
			<td ng-class="{'has-error':price.errors.name}">
				<ul ng-if="price.errors.name"><li ng-repeat="error in price.errors.name">{[error]}</li></ul>
				<input title="{[price.errors.name]}" class="form-control" ng-model="price.name"/>
			</td>
			<td ng-class="{'has-error':price.errors.amount}">
				<ul ng-if="price.errors.amount"><li ng-repeat="error in price.errors.amount">{[error]}</li></ul>
				<input title="{[price.errors.amount]}" class="form-control" ng-model="price.amount"/>
			</td>
			<td ng-class="{'has-error':price.errors.description}">
				<ul ng-if="price.errors.description"><li ng-repeat="error in price.errors.description">{[error]}</li></ul>	
				<textarea title="{[price.errors.description]}" class="form-control" ng-model="price.description"></textarea>
			</td>
			<td ng-class="{'has-error':price.errors.start_date}">
				<ul ng-if="price.errors.start_date"><li ng-repeat="error in price.errors.start_date">{[error]}</li></ul>
				<p class="input-group datepicker">
					<input datepicker-popup="yyyy-MM-dd" is-open="price.datepicker.startdate" ng-click="price.datepicker.startdate=true" title="{[price.errors.start_date]}" class="form-control" ng-model="price.start_date"/>
					<span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="price.datepicker.startdate=true"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
	            </p>
			</td>
			<td ng-class="{'has-error':price.errors.end_date}">
				<ul ng-if="price.errors.end_date"><li ng-repeat="error in price.errors.end_date">{[error]}</li></ul>
				<p class="input-group datepicker">
					<input datepicker-popup="yyyy-MM-dd" is-open="price.datepicker.end_date" ng-click="price.datepicker.end_date=true" title="{[price.errors.end_date]}" class="form-control" ng-model="price.end_date"/>
					<span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="price.datepicker.end_date=true"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
	            </p>
			</td>
			<td>
				<button ng-click="deletePrice(price,$index)" class="btn btn-danger btn-sm">Delete</button>
			</td>
		</tr>
	</table>
	<button class="btn btn-primary" ng-click="addPrice()">Add</button> <button class="btn btn-success" ng-click="savePrices()">Save</button>
	<h3>Payment Processors</h3>
	<table class="table" ng-if="processors.length > 0">
		<tr><th>Enable</th><th>Name</th><th>Description</th></tr>
			<tr ng-repeat="processor in processors" ng-if="!processor.hidden">
				<td><input type="checkbox" ng-model="selected_processors[processor.id].enabled"/></td>
				<td>{[processor.name]}</td>
				<td>{[processor.description]}</td>
			</tr>
	</table>
	<button ng-click="saveProcessors()" class="btn btn-primary">Update</button>
</div>
</tab>
<tab heading="Event Pages">
<div ng-controller="EventPageController" ng-init="init({'event_id':'{{event.id}}'})">
<button class="btn btn-primary pull-right" ng-click="addPage()">Add page</button>
<tabset>

<tab ng-repeat="page in pages" heading="{[page.heading]}">

<form class="form-horizontal">
<fieldset>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Heading</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="page.heading">
  <span class="help-block">Enter the name of the menu item</span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Slug</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="page.slug">
  <span class="help-block">Enter the slug to be used in the URL</span>  
  </div>
</div>
</fieldset>
</form>
<textarea style="width:100%;height:800px;" ui-tinymce ng-model="page.body"></textarea>
<button class="btn btn-success" ng-click="savePage(page)">Save</button> <button class="btn btn-danger" ng-click="deletePage(page,$index)">Delete</button> 

</tab>

</tabset>

</div>

</tab>
{% endif %}
</tabset>


{% endblock %}