{% extends 'base.html' %}
{% block content %}
<div class="page-header"><h1>Events <a class="btn btn-primary pull-right" href="{% url 'create_event'%}">Create</a></h1></div>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
    	<th>Title</th>
    	<th>Capacity</th>
    	<th>Registered</th>
    	<th>Waitlisted</th>
    	<th>Applied</th>
    	<th>Pending</th>
    	<th>Cancelled</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
	<tr>
		<td><a href="{% url 'event' slug_or_id=event.slug_or_id %}">{{event.title}}</a></td>
		<td>{{event.capacity}}</td>
		<td>{{event.registered}}</td>
		<td>{{event.waitlisted}}</td>
		<td>{{event.applied}}</td>
		<td>{{event.pending}}</td>
		<td>{{event.cancelled}}</td>
		<td><span class="pull-right"><a href="{% url 'manage_event' event=event.id %}">Manage</a> <a href="{% url 'copy_event' event=event.id %}" onClick="return confirm('Are you sure you want to create a copy of this event?')">Copy</a></span> </td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}