{% extends 'base.html' %}
{% block headend %}
<script src="/static/ezreg/js/pages/manage_events.js"></script>
{% endblock %}
{% block content %}
<div class="page-header"><h1>Events 
{% if OrganizerUserPermission.PERMISSION_ADMIN in all_user_permissions %}
<a class="btn btn-primary pull-right" href="{% url 'create_event'%}">Create</a>
{% endif %}
</h1></div>
<div ng-controller="EventsController" ng-init="init()">
	<table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data">
        <td data-title="'Title'" filter="{title: 'text'}" sortable="'title'"><a href="{[ getURL('manage_event',{event:row.id}) ]}">{[row.title]}</a></td>
        <td data-title="'Capacity'" sortable="'capacity'">{[row.capacity]}</td>
        <td data-title="'Registered'" sortable="'registered'">{[row.registered]}</td>
        <td data-title="'Waitlisted'" sortable="'waitlisted'">{[row.waitlisted]}</td>
        <td data-title="'Applied'" sortable="'applied'">{[row.applied]}</td>
        <td data-title="'Pending'" sortable="'pending'">{[row.pending]}</td>
        <td data-title="'Cancelled'" sortable="'cancelled'">{[row.cancelled]}</td>
      </tr>
    </table>
</div>
{% endblock %}