{% extends 'base.html' %}
{% block content %}
<div class="page-header"><h1>Events <a class="btn btn-primary pull-right" href="{% url 'create_event'%}">Create</a></h1></div>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
    	<th>Title</th>
    	<th>Registered</th>
    	<th>Waitlisted</th>
    	<th>Applied</th>
    	<th>Pending</th>
    	<th>Cancelled</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
	<tr>
		<td><a href="{% url 'event' slug_or_id=event.slug_or_id %}">{{event.title}}</a></td>
		<td><a href="{% url 'registrations' slug_or_id=event.id %}">{{event.registered}}</a></td>
		<td><a href="{% url 'registrations' slug_or_id=event.id %}">{{event.waitlisted}}</a></td>
		<td><a href="{% url 'registrations' slug_or_id=event.id %}">{{event.applied}}</a></td>
		<td><a href="{% url 'registrations' slug_or_id=event.id %}">{{event.pending}}</a></td>
		<td><a href="{% url 'registrations' slug_or_id=event.id %}">{{event.cancelled}}</a></td>
		<td><span class="pull-right"><a href="{% url 'modify_event' id=event.id %}">Modify</a></span> </td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}