{% extends 'base.html' %}
{% block content %}
{% include 'ezreg/partials/event_header.html' %}
{% if event.display_address and event.address%}
<div class="row">
	<div class="col-lg-2"><h4>Location - </h4></div>
	<div class="col-lg-10"><h4>{{event.address}}</h4></div>
</div>
{% endif %}
{% if event.pages.all.count > 0%}
<div class="navbar-collapse collapse navbar-default">
	<ul class="nav navbar-nav">
    	<li class="active"><a href="{% url 'event' slug_or_id=event.slug_or_id %}">Event</a></li>
		{% for page in event.pages.all %}
		<li><a href="{% url 'event_page' slug_or_id=event.slug_or_id page_slug=page.slug %}">{{page.heading}}</a></li> 
		{% endfor %}
	</ul>
</div>
{% endif %}
<div class="event-page">
{{event.body|safe}}
</div>
{% if event.registration_open %}
	{% if event.open_until %}
	<p><i>Registration closes on: {{event.open_until}}</i></p>
{% endif %}
	{% endif %}
	{% if event.outside_url %}
		<a href="{{event.outside_url}}"  class="btn btn-primary">Event website</a>
	{% elif event.can_apply %}
		<a href="{% url 'apply' slug_or_id=event.slug_or_id %}" class="btn btn-warning btn">Apply</a>
	{% elif event.can_register%}
		<a href="{% url 'register' slug_or_id=event.slug_or_id %}" class="btn btn-warning btn">Register</a>
	{% elif event.can_waitlist %}
		<a href="{% url 'waitlist' slug_or_id=event.slug_or_id %}" class="btn btn-warning btn">Waitlist</a>
	{% elif not event.registration_enabled %}
		<!-- <h3>Registration is closed for this event</h3> -->
	{% else %}
		<h3>Registration is full</h3>
	{% endif %}
{% endblock %}