{% extends 'base.html' %}
{% block content %}
<h1>Registrations: {{event.title}}</h1>
<a href="{% url 'event' slug_or_id=event.slug_or_id%}" class="btn btn-primary">View</a> <a href="{% url 'modify_event' id=event.id%}" class="btn btn-primary">Modify</a>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
    	<th>Registered</th>
    	<th>First name</th>
    	<th>Last name</th>
    	<th>Email</th>
    	<th>Status</th>
    	<th>Amount</th>
    	<th>Processor</th>
    	<th></th>
    	<th></th>
    </tr>
  </thead>
  <tbody>
  {% for registration in event.registrations.all %}
	<tr>
		<td><a href="{% url 'registration' id=registration.id %}">{{registration.registered}}</a></td>
		<td>{{registration.first_name}}</td>
		<td>{{registration.last_name}}</td>
		<td>{{registration.email}}</td>
		<td>{{registration.status}}</td>
		<td>{{registration.price}}</td>
		<td>{{registration.payment.processor}}</td>
		<td><a href="{% url 'modify_registration' id=registration.id %}">Modify</a></td>
		<td><a href="{% url 'update_registration_status' id=registration.id %}">Update status</a></td>
	</tr>  
	{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}