{% extends 'base.html' %}
{% load compress %}
{% block headend %}
{% compress js %}
    <script src="/static/ezreg/js/pages/registration_search.js"></script>
{% endcompress %}

{% endblock %}
{% block content %}
<script type="text/ng-template" id="checkbox_filter.html">
    <input type="checkbox" name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control" ng-value="'True'" ng-true-value="'True'" ng-false-value="'False'" />
</script>
<script type="text/ng-template" id="path/to/your/filters/number.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlengh="4" angular-mask="0000" placeholder="nnnn" />
</script>
<div ng-controller="RegistrationSearchController" ng-init='init({{statuses|safe}},{{payment_statuses|safe}} );' ng-cloak>

	<h4>Date range</h4>
	<div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input datepicker-popup ng-change="updateFilter()" placeholder="Start date (YYYY-MM-DD)" type="text" class="form-control" ng-model="filters.start_date" is-open="date_controls.start_date_open" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date_controls.start_date_open=true;"><i class="glyphicon glyphicon-calendar" ng-click="date_controls.start_date_open=true;"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="input-group">
          <input datepicker-popup ng-change="updateFilter()" placeholder="End date (YYYY-MM-DD)" type="text" class="form-control" ng-model="filters.end_date" is-open="date_controls.end_date_open" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date_controls.end_date_open=true;"><i class="glyphicon glyphicon-calendar" ng-click="date_controls.end_date_open=true;"></i></button>
          </span>
        </p>
      </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="row in $data track by row.id">
        <td data-title="'Registered'" sortable="'registered'" style="width:170px"><a href="{[getURL('registration',{id:row.id})]}">{[row.registered | date:'short']}</a></td>
        <td data-title="'Event'" filter="{event__title__icontains: 'text'}" sortable="'event__title'"><a href="{[ getURL('manage_event',{event:row.event.id}) ]}">{[row.event.title]}</a></td>
        <td data-title="'Organizer'" filter="{event__organizer__name__icontains: 'text'}" sortable="'event__organizer__name'">{[row.event.organizer.name]}</a></td>
        <td data-title="'First Name'" filter="{first_name__icontains: 'text'}" sortable="'first_name'">{[row.first_name]}</td>
        <td data-title="'Last Name'" filter="{last_name__icontains: 'text'}" sortable="'last_name'">{[row.last_name]}</td>
        <td data-title="'Email'" filter="{email__icontains: 'text'}" sortable="'email'">{[row.email]}</td>
        <td data-title="'Amount'" sortable="'payment__amount'" filter="{payment__amount: 'text'}">{[row.payment__amount]}<span ng-if="row.payment__refunded"> - {[row.payment__refunded]} refunded</span></td>
        <td data-title="'Processor'" sortable="'payment__processor__name'">{[row.payment__processor]}</td>
		<td data-title="'Status'" filter="{status__in: 'multi-select'}" filter-data="statuses_filter_choices">{[statuses[row.status]]}</td>
		<td data-title="'Payment Status'" filter="{payment__status__in: 'multi-select'}" filter-data="payment_status_filter_choices">{[payment_statuses[row.payment__status]]}</td>
		<td data-title="'Test'" filter="{test: 'checkbox'}"><i ng-if="row.test" class="glyphicon glyphicon-ok"></i></td>
      </tr>
    </table>
	<div class="btn-group" dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        Export as <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="exportRegistrations('csv')">CSV</a></li>
        <li role="menuitem"><a ng-click="exportRegistrations('tsv')">TSV</a></li>
        <li role="menuitem"><a ng-click="exportRegistrations('xlsx')">XLSX</a></li>
        <li role="menuitem"><a ng-click="exportRegistrations('json')">JSON</a></li>
      </ul>
    </div> <label title="Attempt to merge custom fields.  This may cause the export to take longer to process."><input type="checkbox" name="export_custom" ng-model="export_custom"/>Include merged custom variables</label>
<script type="text/ng-template" id="ng-table/filters/multi-select.html">
	<multiselect ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" options="$column.data" show-select-all="true" show-unselect-all="true" id-as-value="true" id-prop="id" display-prop="title"></multiselect>
</script>
{% endblock %}