<h3>Billing summary for events ending between {{start_date}} - {{end_date}}</h3>
<h3>Organizer: {{organizer}}</h3>
<ul>
{% for e in events %}
<li><a href="{{SITE_URL}}{% url 'manage_event' event=e.id %}">{{e}}</a>: {{e.start_time|date:'M j, Y'}} - {{e.end_time|date:'M j, Y'}}
<ul>
    <li>Total revenue: ${{e.revenue}} @3% = ${{e.service_charges}}</li>
    <li>Credit revenue: {{e.revenue}} @2.75% = ${{e.credit_card_charges}}</li>
    <li>Total charges = ${{e.total_charges}}</li>
</ul>
</li>
{% endfor %}