import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ezreg',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

SITE_URL='http://myregistrationsite.com'
FROM_EMAIL = 'no-reply@myregistrationsite.com'

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.ucdavis.edu'

# We use CAS, you might not
USE_CAS=True
if USE_CAS:
    CAS_SERVER_URL = "https://cas.ucdavis.edu/cas/"
    CAS_VERSION = '2'
    CAS_LOGOUT_COMPLETELY = True
    CAS_PROVIDE_URL_TO_LOGOUT = True
    AUTHENTICATION_BACKENDS = (
        'django.contrib.auth.backends.ModelBackend',
        'cas.backends.CASBackend',
    )
    CAS_AUTO_CREATE_USER = False

TOUCHNET_PRODUCTION_URL = 'https://secure.touchnet.com......'
TOUCHNET_TEST_URL = 'https://test.secure.touchnet.com......'

KFS_VALIDATE_SUBACCOUNT_URL = "https://intitute.edu/rest/fau/subaccount/%s/%s/%s/isvalid"
KFS_VALIDATE_ACCOUNT_URL = "https://intitute.edu/rest/fau/account/%s/%s/isvalid"