{% if registration.payment %}
<h2>Payment</h2>
<table class="table">
<tr><th>Processor</th><td>{{registration.payment.processor}}</td></tr>
<tr><th>Price</th><td>{{registration.price.name}}{% if registration.price.description%} - {{registration.price.description}}{% endif %}</td></tr>
<tr><th>Amount</th><td>${{registration.payment.amount}}</td></tr>
<tr><th>Status</th><td>{{registration.payment.get_status_display}}</td></tr>
{% if registration.payment.external_id %}<tr><th>External ID</th><td>{{registration.payment.external_id}}</td></tr>{% endif %}
{% with registration.payment.get_populated_form as payment_form %}
{% if payment_form %}
{% for field in payment_form %}
<tr><th>{{field.label}}</th><td>{{field.value}}</td></tr>
{% endfor %}
{% endif %}
{% endwith %}
</table>
{% endif %}
