{% if registration.payment %}
<h2>Payment{% if permissions and 'admin' in permissions%} <a href="{% url 'modify_payment' id=registration.id %}" class="btn btn-primary">Modify</a>{% endif %}</h2>
<table class="table">
<tr><th>Processor</th><td>{{registration.payment.processor}}</td></tr>
<tr><th>Price</th><td>{{registration.price.name}}{% if registration.price.description%} - {{registration.price.description}}{% endif %}</td></tr>
<tr><th>Amount</th><td>${{registration.payment.amount}}</td></tr>
<tr><th>Status</th><td>{{registration.payment.get_status_display}}</td></tr>
{% if registration.payment.external_id %}<tr><th>External ID</th><td>{{registration.payment.external_id}}</td></tr>{% endif %}
{% with registration.payment.get_populated_form as payment_form %}
{% if payment_form %}
{% for field in payment_form %}
<tr><th>{{field.label}}</th><td>{{field.value}}</td></tr>
{% endfor %}
{% endif %}
{% endwith %}
{% if registration.payment.admin_notes and permissions and 'admin' in permissions or 'view' in permissions%}<tr><th>Admin Notes</th><td>{{registration.payment.admin_notes}}</td></tr>{% endif %}
</table>
{% endif %}
