{% load ezreg_filters %}
<h1>{{registration.event.title}}{% if permissions and 'admin' in permissions or 'view' in permissions%} <a href="{% url 'manage_event' event=registration.event.id %}" class="btn btn-primary">Manage</a>{% endif %}</h1>
{% if registration.event.start_time %}<h4>{{registration.event.start_time}}{% if registration.event.end_time %} - {{registration.event.end_time}}{% endif %}</h4>{% endif %}
<h4>Organizer - {{registration.event.organizer}}</h4>
{% if registration.event.address and registration.event.display_address  %}<h4>{{registration.event.address}}</h4>{% endif %}
{% if registration.event.contact %}<h4>Contact - {{registration.event.contact}}</h4>{% endif %}

<h2>Registration details{% if permissions and 'admin' in permissions%} <a href="{% url 'modify_registration' id=registration.id %}" class="btn btn-primary">Modify</a>{% endif %}</h2>
<table class="table">
{% for field in registration.get_registration_fields %}
<tr><th>{{field.label}}</th><td>{{field.value|form_value}}</td></tr>
{% endfor %}
{% if registration.price and not registration.payment %}
<tr><th>Price</th><td>{{registration.price}}{% if registration.price.description%} - {{registration.price.description}}{% endif %}</td></tr>
{% endif %}
</table>

{% include 'ezreg/partials/payment.html' %}

