<script src="/static/ezreg/js/pages/event_emails.js"></script>

<div ng-controller="EventEmailsController" ng-init='init("{{event.id}}");'>
	<span class="pull-right">
	{[getSelected().length]} selected
		<div class="btn-group" dropdown is-open="status.isopen">
		  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
		    Action<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="Action">
		    <li role="menuitem" ng-click="send_event_emails(getSelected())"><a href="#">Re-send</a></li>
		  </ul>
		</div>
	</span>
	
    <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="row in $data track by row.id">
        <td data-title="'Last attempt'" sortable="'last_attempt'" style="width:170px"><label><input type="checkbox" ng-model="checked[row.id]"/> {[row.last_attempt | date:'short']}</label></td>
        <td data-title="'To address'" sortable="'to_address'" filter="{to_address__icontains: 'text'}">{[row.to_address]}</td>
        <td data-title="'BCC'" sortable="'bcc_address'" filter="{bcc_address__icontains: 'text'}">{[row.bcc_address]}</td>
        <td data-title="'Subject'" sortable="'subject'" filter="{subject__icontains: 'text'}">{[row.subject]}</td>
		<td data-title="'Sent'" sortable="'sent_attempt'" filter="{sent: 'select'}" filter-data="sent_choices"><i ng-class="{'glyphicon-ok':row.sent,'glyphicon-remove':!row.sent}" class="glyphicon"/></td>
		<td data-title="'Actions'">
			<div class="btn-group" dropdown is-open="isopen[row.id]">
			  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
			    Action<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="Action">
			    <li role="menuitem"><a ng-click="resend(row)">Resend</a></li>
			    <li role="menuitem"><a ng-click="delete(row)">Delete</a></li>
			    <li role="menuitem"><a href="{[registrationLink(row.registration)]}">Registration</a></li>
			  </ul>
			</div>
		</td>
      </tr>
    </table>
      

  </div>




