	<script src="/static/ezreg/js/pages/form_designer.js"></script>
    
  	
	<div  ng-controller="DesignerController" ng-init='initialize({{form_fields|safe}},"{{event.id}}")'>
	<h3>Form Fields</h3>
		<table style="width:100%">
		<tr><th></th><th>Required</th><th>Type</th><th>Name</th><th>Label</th><th>Help Text</th><th>Options</th><th></th></tr>
		<tr ng-repeat="field in fields">
			<td><button class="btn btn-xs" ng-click="move($index,1)">&#9660;</button> <button ng-click="move($index,-1)" class="btn btn-xs">&#9650;</button></td>
			<td><input type="checkbox" ng-model="field.required" ></td> <!-- ng-true-value="1" -->
			<td><select ng-model="field.type" ng-options="field_type.type as field_type.label for field_type in field_types""></select></td>
			<td ng-if="field.type != 'layout_html'"><input ng-model="field.name"/></td>
			<td ng-if="field.type != 'layout_html'"><input ng-model="field.label"/></td>
			<td ng-if="field.type != 'layout_html'"><textarea ng-model="field.help_text"></textarea></td>
			<td ng-if="field.type != 'layout_html'">
				<div ng-if="['select','radio'].indexOf(field.type) != -1">
					<p><b>Options:</b></p>
					<div ng-repeat="choice in field.choices">
						<input ng-model="choice.name" placeholder="name">
						<!-- <input ng-model="choice.value" placeholder="value"> -->
						<button ng-click="removeOption(field,$index);" class="btn btn-xs btn-danger">Remove</button>
					</div>
					<button ng-click="addOption(field);">Add option</button>
				</div>
			</td>
			<td colspan="4" ng-if="field.type == 'layout_html'">
				<textarea style="width:100%;height:200px;" ui-tinymce ng-model="field.html"></textarea>
			</td>
			<td>
				<button ng-click="removeField($index);" class="btn btn-sm btn-danger">Remove</button>
			</td>
		</tr>
		</table>
		
		<button ng-click="addField()" class="btn btn-default">Add Field</button> <button ng-click="save()" class="btn btn-primary">Save</button>
	</div>
