{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ezreg_filters %}
{% block headend %}

<style>
.datepicker{
	max-width:200px;
}
</style>
{% endblock %}

{% block scripts %}
{{block.super}}
<script src="/static/ezreg/js/pages/event.js"></script>
{% endblock %}
    
{% block content %}
<div class="page-header">
	<h1>{{event.title}}
	<span class="pull-right">
		 <a href="{% url 'event' slug_or_id=event.slug_or_id%}" class="btn btn-default">View</a> 
		 <div class="btn-group" dropdown is-open="isopen[row.id]">
		  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
		    Register<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="Action">
		    	<li role="menuitem"><a href="{% url 'register' slug_or_id=event.slug_or_id %}">Register</a></li>
		    	<li role="menuitem"><a href="{% url 'register' slug_or_id=event.slug_or_id %}?test">Test</a></li>
		    	{% if 'admin' in permissions %}<li role="menuitem"><a href="{% url 'admin_register' slug_or_id=event.slug_or_id %}">Admin register</a></li> {% endif %}
		  </ul>
		</div>
		 {% if 'admin' in permissions %}
		 <a href="{% url 'copy_event' event=event.id%}" class="btn btn-default" onClick="return confirm('Are you sure you want to make a copy of this event?  Be aware that the copied event will retain all event details including dates, prices, etc from the original event.')">Copy</a>
		 <a href="{% url 'delete_event' event=event.id%}" class="btn btn-danger" onClick="return confirm('Are you sure you want to delete this event?')">Delete</a>
		 {% endif %}
	</span>
	</h1>
</div>
<tabset ng-cloak>
{% if 'admin' in permissions %}
<tab heading="Event">
{% if form.errors %}<h2 class="error">Please correct form errors below.</h2>{% endif %}
<form method="POST" action="." enctype="multipart/form-data">
{% csrf_token %}
{{form|crispy}}
<button class="btn btn-primary">{% if event.id %}Save{% else %}Create{% endif %}</button>
</form>
</tab>
<tab heading="Custom Text">
<div ng-controller="EventTextController" ng-init='init({event_id:"{{event.id}}",config:{{custom_texts|safe}} })'>
<div ng-repeat="(id, c) in config">
<h3>{[c.title]}</h3>
<p>{[c.description]}</p>
<textarea style="width:100%;height:200px;" ui-tinymce ng-model="event.config.CUSTOM_TEXTS[id].html" ng-if="c.html"></textarea>
<textarea style="width:100%;height:200px;" ng-model="event.config.CUSTOM_TEXTS[id].text" ng-if="c.text"></textarea>
</div>
<button class="btn btn-primary" ng-click="save()">Save</button>

</div>
</tab>
<tab heading="Form">
{% include 'ezreg/event/form_designer.html'%}
</tab>
<tab heading="Payment">
<div ng-controller="PriceController" ng-init="init({'event_id':'{{event.id}}','organizer':'{{event.organizer_id}}','event_processors_url':'{% url 'event_payment_processors' event=event.id %}'})">
	<h3>Prices</h3>
	<table class="table" ng-if="prices.length > 0">
		<tr><th>Order</th><th>* Name</th><th>* Amount</th><th>Description</th><th>Coupon Code †</th><th>Start Date (inclusive)</th><th>End Date (inclusive)</th><th>Quantity</th><th></th></tr>
		<tr ng-repeat="price in prices">
			<td ng-class="{'has-error':price.errors.order}">
				<ul ng-if="price.errors.order"><li ng-repeat="error in price.errors.order">{[error]}</li></ul>
				<input type="number" title="{[price.errors.order]}" style="width:80px;" class="form-control" ng-model="price.order"/>
			</td>
			<td ng-class="{'has-error':price.errors.name}">
				<ul ng-if="price.errors.name"><li ng-repeat="error in price.errors.name">{[error]}</li></ul>
				<input title="{[price.errors.name]}" class="form-control" ng-model="price.name"/>
			</td>
			<td ng-class="{'has-error':price.errors.amount}">
				<ul ng-if="price.errors.amount"><li ng-repeat="error in price.errors.amount">{[error]}</li></ul>
				<input title="{[price.errors.amount]}" class="form-control" ng-model="price.amount"/>
			</td>
			<td ng-class="{'has-error':price.errors.description}">
				<ul ng-if="price.errors.description"><li ng-repeat="error in price.errors.description">{[error]}</li></ul>	
				<textarea title="{[price.errors.description]}" class="form-control" ng-model="price.description"></textarea>
			</td>
			<td ng-class="{'has-error':price.errors.coupon_code}">
				<ul ng-if="price.errors.coupon_code"><li ng-repeat="error in price.errors.coupon_code">{[error]}</li></ul>	
				<input title="{[price.errors.coupon_code]}" class="form-control" ng-model="price.coupon_code"/>
			</td>
			<td ng-class="{'has-error':price.errors.start_date}">
				<ul ng-if="price.errors.start_date"><li ng-repeat="error in price.errors.start_date">{[error]}</li></ul>
				<p class="input-group datepicker">
					<input datepicker-popup="yyyy-MM-dd" is-open="price.datepicker.startdate" ng-click="price.datepicker.startdate=true" title="{[price.errors.start_date]}" class="form-control" ng-model="price.start_date"/>
					<span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="price.datepicker.startdate=true"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
	            </p>
			</td>
			<td ng-class="{'has-error':price.errors.end_date}">
				<ul ng-if="price.errors.end_date"><li ng-repeat="error in price.errors.end_date">{[error]}</li></ul>
				<p class="input-group datepicker">
					<input datepicker-popup="yyyy-MM-dd" is-open="price.datepicker.end_date" ng-click="price.datepicker.end_date=true" title="{[price.errors.end_date]}" class="form-control" ng-model="price.end_date"/>
					<span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="price.datepicker.end_date=true"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
	            </p>
			</td>
			<td ng-class="{'has-error':price.errors.quantity}">
				<ul ng-if="price.errors.quantity"><li ng-repeat="error in price.errors.quantity">{[error]}</li></ul>
				<input type="number" title="{[price.errors.quantity]}" class="form-control" ng-model="price.quantity" style="width:80px;"/>
			</td>
			<td>
				<button ng-click="deletePrice(price,$index)" class="btn btn-danger btn-sm">Delete</button>
			</td>
		</tr>
	</table>
	<p><b>† When using coupon codes, please ensure that any duplicate coupon codes do not have overlapping dates.</b></p>
	<button class="btn btn-primary" ng-click="addPrice()">Add</button> <button class="btn btn-success" ng-click="savePrices()">Save</button>
	<h3>Payment Processors</h3>
	<table class="table" ng-if="processors.length > 0">
		<tr><th>Enable</th><th>Name</th><th>Description</th></tr>
			<tr ng-repeat="processor in processors" ng-if="!processor.hidden">
				<td><input type="checkbox" ng-model="selected_processors[processor.id].enabled"/></td>
				<td>{[processor.name]}</td>
				<td>{[processor.description]}</td>
			</tr>
	</table>
	<button ng-click="saveProcessors()" class="btn btn-primary">Update</button>
</div>
</tab>
<tab heading="Event Pages">
<div ng-controller="EventPageController" ng-init="init({'event_id':'{{event.id}}'})">
<h4>Add any additional event pages here.<button class="btn btn-primary pull-right" ng-click="addPage()">Add page</button></h4>

<tabset>

<tab ng-repeat="page in pages" heading="{[page.heading]}">
<p><span class="pull-right"><button class="btn btn-success" ng-click="savePage(page)">Save</button> <button class="btn btn-danger" ng-click="deletePage(page,$index)">Delete</button></span></p> 
<form class="form-horizontal">
<fieldset>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Heading</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="page.heading">
  <span class="help-block">Enter the name of the menu item</span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Slug</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="page.slug">
  <span class="help-block">Enter the slug to be used in the URL</span>  
  </div>
</div>
</fieldset>
</form>
<textarea style="width:100%;height:800px;" ui-tinymce ng-model="page.body"></textarea>
<button class="btn btn-success" ng-click="savePage(page)">Save</button> <button class="btn btn-danger" ng-click="deletePage(page,$index)">Delete</button> 

</tab>
</tabset>

</div>

</tab>
{% endif %}
<tab heading="Registrations">
{% include 'ezreg/event/registrations.html'%}
</tab>
<tab heading="Emails">
{% include 'ezreg/event/emails.html'%}
</tab>
<tab heading="Logs">
<log-table content-type="{{event|content_type_id}}" object-id="'{{event.id}}'"></log-table>
</tab>
</tabset>


{% endblock %}