{% load ezreg_filters %}
{% load compress %}
<link rel="stylesheet" href="/static/vendor/d3/nv.d3.css">
   	{% compress js %}
		<script src="/static/vendor/d3/d3.min.js"></script>
		<script src="/static/vendor/d3/nv.d3.min.js"></script>
		<script src="/static/vendor/d3/angularjs-nvd3-directives.js"></script>
		<script src="/static/ezreg/js/pages/event_registrations.js"></script>
    {% endcompress %}




<script type="text/ng-template" id="checkbox_filter.html">
    <input type="checkbox" name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control" ng-value="'True'" ng-true-value="'True'" ng-false-value="'False'" />
</script>
<script type="text/ng-template" id="path/to/your/filters/number.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlengh="4" angular-mask="0000" placeholder="nnnn" />
</script>


<div ng-controller="RegistrationController" ng-init='init("{{event.id}}",{{statuses|safe}},{{processors|safe}},{{payment_statuses|safe}} );'>
	<label><input type="checkbox" ng-model="select_all" ng-change="selectAll()"> Select All</label>
	<span class="pull-right">
		{[getSelected().length]} selected 
		<div class="btn-group" dropdown is-open="status.isopen">
		  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
		    Bulk actions<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="Bulk actions">
		  {% if 'admin' in permissions %}
		    <li role="menuitem" ng-click="update_statuses()"><a href="#">Update Statuses</a></li>
		  {% endif %}
		    <li role="menuitem" ng-click="export_registrations()"><a href="#">Export</a></li>
		    <!--<li role="menuitem" ng-click="visualize()"><a href="#">Visualize</a></li>-->
		  </ul>
		</div>
	</span>
	
    <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="row in $data track by row.id">
        <td data-title="'Registered'" sortable="'registered'" style="width:170px"><label><input type="checkbox" ng-model="checked[row.id]"/> {[row.registered | date:'short']}</label></td>
        <td data-title="'First Name'" filter="{first_name__icontains: 'text'}" sortable="'first_name'">{[row.first_name]}</td>
        <td data-title="'Last Name'" filter="{last_name__icontains: 'text'}" sortable="'last_name'">{[row.last_name]}</td>
        <td data-title="'Email'" filter="{email__icontains: 'text'}" sortable="'email'">{[row.email]}</td>
        <td data-title="'Amount'" sortable="'payment__amount'" filter="{payment__amount: 'text'}">{[row.payment__amount]}<span ng-if="row.payment__refunded"> - {[row.payment__refunded]} refunded</span></td>
        <td data-title="'Processor'" sortable="'payment__processor__name'">{[row.payment__processor]}</td>
		<td data-title="'Status'" sortable="'status'" filter="{status__in: 'multi-select'}" filter-data="statuses_filter_choices">{[statuses[row.status]]}</td>
		<td data-title="'Payment Status'" sortable="'payment__status'" filter="{payment__status__in: 'multi-select'}" filter-data="payment_status_filter_choices">{[payment_statuses[row.payment__status]]}</td>
		<td data-title="'Test'" filter="{test: 'checkbox'}"><i ng-if="row.test" class="glyphicon glyphicon-ok"></i></td>
		<td data-title="'Actions'">
			<div class="btn-group" dropdown is-open="isopen[row.id]">
			  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
			    Action<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="Action">
			    <li role="menuitem"><a href="{[registrationLink(row)]}">View details</a></li>
			    {% if 'admin' in permissions %}
			    	<li role="menuitem"><a href="{[modifyRegistrationLink(row)]}">Modify</a></li>
			    	<li role="menuitem" ng-if="row.payment__status"><a href="{[getURL('modify_payment',{id:row.id})]}">Modify Payment</a></li>
			    	<li role="menuitem" ng-if="row.paid"><a href="{[getURL('request_refund',{id:row.id})]}">Request refund</a></li>
			    	<li role="menuitem"><a log-modal content-type="{{Registration|content_type_id}}" object-id="row.id">Logs</a></li>
			    	<!-- <li role="menuitem"><a href="{[updateRegistrationStatusLink(row)]}">Update status</a></li> -->
			    {% endif %}
			  </ul>
			</div>
		</td>
      </tr>
    </table>


    
    <script type="text/ng-template" id="updateStatus.html">
        <div class="modal-header">
            <h3 class="modal-title">Update statuses (<span title="{[params.selected.join(', ')]}">{[params.selected.length]}</span>)</h3>
        </div>
        <div class="modal-body">
            <div class="form-group form-inline">
   				<label><input type="checkbox" ng-model="params.send_email"/>Send email</label><br>
			    <select class="form-control" ng-model="params.status">
					{% for value,label in Registration.STATUSES %}
						<option value="{{value}}">{{label}}</option>
					{% endfor %}
				</select> <button ng-click="update_statuses()" class="btn btn-default">Update Statuses</button>
    		</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="exportRegistrations.html">
        <div class="modal-header">
            <h3 class="modal-title">Export registrations (<span title="{[selected.join(', ')]}">{[selected.length]}</span>)</h3>
        </div>
        <div class="modal-body">
            <div class="form-group form-inline">
   				<form id="exportForm" action="{% url 'export_registrations' event=event.id %}" method="POST">
					{% csrf_token %}
					
					<h3><label><input type="checkbox" ng-model="select_all.custom_form_fields" ng-change="toggleSelect('custom_form_fields')"/>Form fields<label></h3>
					<fieldset>
					{% for field in event.form_fields %}
					{% if field.label %}
						<label><input type="checkbox" class="custom_form_fields" name="custom_fields" value="{{field.name}}"/> {{field.label}}</label>
					{% endif %}
					{% endfor %}
					</fieldset>
					<h3>Payment</h3>
					<h4><label><input type="checkbox" ng-model="select_all.payment_fields" ng-change="toggleSelect('payment_fields')"/>Payment fields</label></h4>
					<fieldset>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.price"/> Price </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.processor"/> Processor </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.status"/> Payment Status </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.paid_at"/> Paid At </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.amount"/> Amount </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.coupon"/> Coupon code </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.refunded"/> Refunded </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.external_id"/> External ID </label>
						<label><input class="payment_fields" type="checkbox" name="payment_fields" value="payment.admin_notes"/> Admin Notes </label>
					</fieldset>
					{% for processor in event.payment_processors.all %}
					{% if processor.get_processor.exportable_fields.keys %}
					<h4><label><input type="checkbox" ng-model="select_all.processor_{{processor.id}}_fields" ng-change="toggleSelect('processor_{{processor.id}}_fields')"/>{{processor.name}}</label></h4>
						<fieldset>
						{% for name,label in processor.get_processor.exportable_fields.items %}
							<label><input type="checkbox" class="processor_{{processor.id}}_fields" name="processor_{{processor.id}}" value="processor_{{processor.id}}_{{name}}"/> {{label}}</label>
						{% endfor %}
						</fieldset>
					{% endif %}
					{% endfor %}
					<fieldset>
					<h4><label>Format</label></h4>
					<select name="format" class="form-control"><option value="xlsx">XLSX</option><option value="csv">CSV</option><option value="tsv">TSV</option><option value="json">JSON</option></select>
					</fieldset>
    				<input ng-repeat="val in selected" type="hidden" name="selection" value="{[val]}"/>
    			</form>  
    		</div>
        </div>
        <div class="modal-footer">
			<button class="btn btn-default"  ng-click="export_registrations()">Export</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
  </div>

<script type="text/ng-template" id="visualize.html">
        <div class="modal-header">
            <h3 class="modal-title">Visualize (<span title="{[params.selected.join(', ')]}">{[params.selected.length]}</span>)</h3>
        </div>
        <div class="modal-body" ng-init="init()">
		<select ng-options="field as field.label for field in fields track by field.key" ng-model="field" ng-change="updateChart()">
			<option value="" ng-if="false"></option>
		</select>
		<h3 ng-if="field">{[field.label]}
        <div id="chart"><svg></svg></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<script type="text/ng-template" id="ng-table/filters/multi-select.html">
	<multiselect ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" options="$column.data" show-select-all="true" show-unselect-all="true" id-as-value="true" id-prop="id" display-prop="title"></multiselect>
</script>