{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}
<h2>{{event.title}}</h2>
<p>{{event.description}}</p>
<p><i>Enter payment information</i></p>
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form|crispy }}
    {% endfor %}
{% else %}
    {{ wizard.form|crispy }}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary"/>
</form>
{% endblock %}