{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}

<p><i>Enter payment information</i></p>
<form action="" method="post">{% csrf_token %}
{% include 'ezreg/partials/wizard_forms.html' %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary"/>
</form>
{% endblock %}