{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

{% if registration.is_waitlist %}
<h1>Waitlist</h1>
{% else %}
<h1>Register</h1>
{% endif %}

<h2>{{event.title}}</h2>
<p>{{event.description}}</p>
<p><i>Please confirm your registration details</i></p>
{% include 'ezreg/partials/registration_details.html' with registration=registration_form%}
{% if price %}
<h2>Payment</h2>
<table class="table">
<tr><th>Processor:</th><td>{{price.payment_method}}</td></tr>
<tr><th>Amount:</th><td>{{price.price}}</td></tr>
{% for k,v in payment.items %}
<tr><th>{{k}}</th><td>{{v}}</td></tr>
{% endfor %}
</table>
{% endif%}

<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form|crispy }}
    {% endfor %}
{% else %}
    {{ wizard.form|crispy }}
{% endif %}
{% if wizard.steps.prev %}
<!-- <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-primary">{% trans "first step" %}</button> -->
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input type="submit" value="{% trans "Confirm" %}" class="btn btn-primary"/>
<button name="wizard_goto_step" type="submit" value="cancel" class="btn btn-danger pull-right">{% trans "Cancel" %}</button>
</form>
{% endblock %}