{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load ezreg_filters %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}

<p><i><b>Please confirm your registration details.  Your registration is not complete until it has been confirmed.  Once your registration is complete you will receive a confirmation email.</b></i></p>

{% if event.cancellation_policy %}
<h3>Cancellation policy</h3>
{{event.cancellation_policy|safe}}
{% endif %}

<form action="" method="post">{% csrf_token %}
{% include 'ezreg/partials/wizard_forms.html' %}
{% if wizard.steps.prev %}
<!-- <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-primary">{% trans "first step" %}</button> -->
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input onClick="this.disabled=true;this.form.submit();" type="submit" value="{% trans "Confirm" %}" class="btn btn-primary"/>
<button name="wizard_goto_step" type="submit" value="cancel" class="btn btn-danger pull-right">{% trans "Cancel" %}</button>
</form>
<br>
<table class="table">
	<tr><th>First name:</th><td>{{registration_form.first_name}}</td></tr>
	<tr><th>Last name:</th><td>{{registration_form.last_name}}</td></tr>
	<tr><th>Email:</th><td>{{registration_form.email}}</td></tr>
	{% if registration_form_custom %}
		{% for field in registration_form_custom %}
		<tr><th>{{field.label}}</th><td>{{field.value|form_value}}</td></tr>
		{% endfor %}
	{% endif %}
</table>
{% if price %}
<h2>Payment</h2>
<table class="table">
<tr><th>Processor:</th><td>{{price.payment_method}}</td></tr>
<tr><th>Amount:</th><td>{{price.price}}</td></tr>
{% if payment_form %}
{% for field in payment_form %}
<tr><th>{{field.label}}</th><td>{{field.value}}</td></tr>
{% endfor %}
{% endif %}
</table>
{% endif%}


{% endblock %}