{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}

<p><i>Please enter registration information</i></p>
<form action="" method="post" novalidate>{% csrf_token %}
{% include 'ezreg/partials/wizard_forms.html' %}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary"/>
<button name="wizard_goto_step" type="submit" value="cancel" class="btn btn-danger pull-right">{% trans "Cancel" %}</button>
</form>
{% endblock %}