{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load ezreg_filters %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}
{% event_custom_text event 'PRICE_FORM' %}
<p><i>Choose price details</i></p>
<form action="" method="post">{% csrf_token %}
{% include 'ezreg/partials/wizard_forms.html' %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary"/>
<button name="wizard_goto_step" type="submit" value="cancel" class="btn btn-danger pull-right">{% trans "Cancel" %}</button>
</form>
<script>
var free = $("[name={{form.price.html_name}}]").attr("free");
function checkIfFree() {
    var price = $("[name=price_form-price]:checked").val();
    if (price == free) {
        $("[name={{form.payment_method.html_name}}]").closest('.form-group').hide()
    } else {
        $("[name={{form.payment_method.html_name}}]").closest('.form-group').show()
    }
}
if (free) {
    checkIfFree()
    $( "[name={{form.price.html_name}}]" ).change(checkIfFree);
}
</script>
{% endblock %}