{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block endhead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
{% include 'ezreg/partials/registration_header.html' %}
<h2>{{event.title}}</h2>
<p>{{event.description}}</p>
<p><i>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</i></p>
<form action="." method="post">{% csrf_token %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% crispy form %}
    {% endfor %}
{% else %}
    {% crispy wizard.form %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">{% trans "Back" %}</button>
{% endif %}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary"/>
<button name="wizard_goto_step" type="submit" value="cancel" class="btn btn-danger pull-right">{% trans "Cancel" %}</button>
</form>
{% endblock %}